<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
</head>
<body>

  <h1>Create a Basketball Team</h1>

  <form method="POST" action="/team">
  <label>Team Name: <input type="text" name="team_name"></label><br>
  <label>Coach: <input type="text" name="coach"></label><br>
  <label>Point Guard: <input type="text" name="point_card"></label><br>
  <label>Shooting Guard: <input type="text" name="Shooting_guard"></label><br>
  <label>Small Forward: <input type="text" name="small_guard"></label><br>
  <label>Power Forward: <input type="text" name="power_forward"></label><br>
  <label>Center: <input type="text" name="center"></label><br>
  <input type="submit"></br>
</form>

 </body>
</html>
